.parallax1{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  h1 {
 font-size: 100px;
  }
  .cape1{
    background-image:  url("/images/cape1.png");
    background-size: cover;
    background-position: bottom;
    position: absolute;
  }
  .cape2{
    background-image:  url("/images/cape2.png");
    background-size: cover;
    background-position: bottom;
    position: absolute;
    
  }
  .cape3{
    background-image:  url("/images/cape3.png");
    background-size: cover;
    background-position: bottom;
    position: absolute;
  }
}