@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:  255,255,255;
  --background-start-rgb:  255,255,255;
  --background-end-rgb:  255,255,255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255,255,255;
    --background-start-rgb: 255,255,255;
    --background-end-rgb: 255,255,255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: 'Rift Soft';
  src: url('/font/regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}



.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {

  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;

  background: #B0A47F;

  transform-origin: 0%;
  z-index: 100;
}


@media screen and (max-width: 1024px) {
  :root {
      --container-padding: 6vw;
  }
}

@media screen and (max-width: 540px) {
  :root {
      --container-padding: clamp(1.25em, 4vw, 2.5em);
  }
}

.container-padding {
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);

}